*{
    margin: 0;
    padding: 0;
    font-family: 'Poping', sans-serif;
}

body{
    background: #edeaff;
}

.stopwatch{
    width: 90%;
    max-width: 600px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(images/background.png);
    background: cover;
    background-position: center;
    text-align: center;
    padding: 40px 0;
    color: #fff;
    margin: 200px auto 0;
    box-shadow: 0 10px 10px rgba(0,0,0,0.5);
    font-family: "Courier Prime", serif;
    font-weight: 400;
    font-style: italic;
}


.stopwatch h1{
    margin-top: 60px;
    font-size: 64px;
    font-weight: 300;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button img{
    width: 50px;
    margin: 40px 20px;
    cursor: pointer;
}

.button img:nth-child(2){
    width: 80px;
}